In [1]:
#Question 1

In [2]:
a = "My name is Deepanshu Singhal", [1,2,3,4], 369.67, (5,6,7,8)

In [4]:
#Question 2

In [5]:
var1 = ''

In [6]:
type(var1)

str

In [10]:
var2 = '[DS , ML , Python]'

In [11]:
type(var2)

str

In [15]:
var3 = ['DS' , 'ML' , 'Python']

In [16]:
type(var3)

list

In [17]:
var4 = 1

In [18]:
type(var4)

int

In [19]:
#Question 3

In [20]:
12/3    #division operator

4.0

In [23]:
12%5    #Modulo operator (shows remainder)

2

In [24]:
12//5   #Floor division

2

In [26]:
3**3    #Power operator

27

In [27]:
#Question 4

In [28]:
L1 = [1,2,3,4,44.5,['a', 'b', 'deep'], 100.5, (12,'abhi',8), 10,50]

In [37]:
for i in L1:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
44.5
<class 'float'>
['a', 'b', 'deep']
<class 'list'>
100.5
<class 'float'>
(12, 'abhi', 8)
<class 'tuple'>
10
<class 'int'>
50
<class 'int'>

In [38]:
#Question 5

In [44]:
num_A = int(input("Enter the number A"))
num_B = int(input("Enter the number B"))
result = num_A%num_B
if result == 0:
    print("Number A is purely divisible by Number B")
else:
    print("Number A is not purely divisible by Number B")

Enter the number A 10
Enter the number B 3

Number A is not purely divisible by Number B

In [45]:
#Question 6

In [46]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [54]:
for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print (f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [55]:
#Question 7

In [56]:
"""Mutable data types are those data types which can be altered or we can mutate them with different operations and functions.
Their value can be changed after creation. (Ex: List, Dictionaires, sets)
Immutable data type is a data type which can not be altered after creation (Ex: String, tuples)"""

'Mutable data types are those data types which can be altered or we can mutate them with different operations and functions.\nTheir value can be changed after creation. (Ex: List, Dictionaires, sets)\nImmutable data type is a data type which can not be altered after creation (Ex: String, tuples)'

In [57]:
l = [1,2,3,4,5]

In [58]:
l[0]=6

In [59]:
l     #it is mutated

[6, 2, 3, 4, 5]

In [60]:
t=(1,2,3,4,5)

In [61]:
t[0] = 6 #shows error because i

TypeError: 'tuple' object does not support item assignment